body {
  background-color: rgb(255, 231, 200);
  color: indigo;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding: 0;
  line-height: 1.2;
  clear: left;
  color: #8A0808;
}

h1 {
  font-size: 2em;
  margin: 0 0 .444em;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  padding: .45em 0;
  margin: .6em 0 1em 0;
  background-color: #8A0808;
  color: #FFF;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 .666em;
  border-bottom-style: double;
  border-bottom-width: 6px;
}

h3 {
  font-size: 1.125em;
  margin: 0 0 .888em;
}

h4 {
  font-size: 1em;
  margin: 0 0 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #080;
  background-color: inherit;
}

a:link, a:visited {
  text-decoration: none;
  color: #2b73b7;
}
