h1{
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: Times;
}
h3{
    margin-bottom: 30px;
    font-family: Times;
    text-decoration: underline;
}
li{
    font-style: italic;
}
.row > div{
background-color:#C8A9E3;
text-align: center;
width: 100%;
}
body{
    background-color: #D4BCE9;
}
a:hover {
    color:blueviolet;
}
a{
    color: green;
}