h1 {
    text-align: center;
     font-style: oblique;
}

h2 {
    text-align:center;
    font-style: italic;
}
a{

    font-family: fantasy;
    color: darkred;
}
span{
    font-family: cursive;
}
div{
    margin-top: 5em;
    
}
body{
    background-color: black;
    color: darkgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
b{

    color: darkred;
}
li{
    color:darkgreen;
}