body {
    background-color: #ebf8fc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 1vw;
}

.glossary {
    text-align: center;
}

.definition {
    width: 70vw;
    border: 1px solid royalblue;
    background-color: #a8f7ed;
    border-radius: 0.5rem;
    padding: 0;
    margin-bottom: 1vw;
    overflow: hidden;
}

h2 {
    margin: 0;
}

.definition-header {
    width: 100%;
    margin: 0;
    background-color: #40bced;
    display: flex;
    padding-left: 2rem;
}