body{
    background-color: rgb(207, 214, 218);
    font-family: 'Century Gothic Medium';

}
td{
    width: 85;
}
tr{
    width: 584;
}
p{
    text-align: justify;
}
h2{

  font-weight: bolder;
  font-family: Arial;
  text-transform: capitalize;
}